.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    right: 1200px;
    top: 0px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    right: 1230px;
    top: 40px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    right: 1000px;
    top: 140px;
  }